.float-right {
  float: right;
}

.float-left {
  float: left;
}

.center {
  text-align: center;
}

.add-blog {
  margin: 100px 0 1em 0; 
}

.navbar {
  h1 {
    color: white;
    display: inline-block;
    vertical-align: middle;
  }
}

img {
  display: inline-block;
  vertical-align: middle;
}